<html>
<form action="{% url 'login' %}" method="post" name="login">
{% csrf_token %}
<p><span>用户名：</span><input type="text" name="username">
<p><span>密码：</span><input type="text" name="password">
<input type="submit" value="登录" ></p>
</form>
<form action="{% url 'logout' %}" method="post" name="logout">
{% csrf_token %}
<input type="submit" value="退出" ></p>
</form>
<form action="{% url 'comment' %}" method="post" name="comment">
{% csrf_token %}
<p><span>用户名：</span><input type="text" name="username">
<p><span>内容：</span><input type="text" name="comment">
<input type="submit" value="提交" ></p>
</form>
</html>